fastapi
uvicorn
sqlalchemy
asyncpg
alembic
pydantic
pydantic[email]
python-multipart
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
sentence-transformers
faiss-cpu
numpy
scikit-learn
lightgbm
redis
httpx
pytest
pytest-asyncio
pandas
django
django-admin-charts
django-extensions
PyJWT